@font-face {
	font-family: 'iconfont';
	src: url('./../font/iconfont.eot');
	src: url('./../font/iconfont.eot?#iefix') format('embedded-opentype'),
		url('./../font/iconfont.woff2') format('woff2'),
		url('./../font/iconfont.woff') format('woff'),
		url('./../font/iconfont.ttf') format('truetype'),
		url('./../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-size: 12px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
}

body {
	width: 100%;
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	box-sizing: border-box;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	outline: none;
	text-decoration: none;
}

div:focus {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}

p,
ul {
	margin: 0;
}

ol,
ul {
	list-style: none;
	padding: 0;
}

button {
	border: 1px solid transparent;
	outline: none;
}

input,
button,
textarea {
	border: 0;
	margin: 0;
	padding: 0;
	/*-webkit-appearance:none;*/
	background-color: rgba(0, 0, 0, 0);
}

.clearfix:after,
.clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #999 !important;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #999 !important;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #999 !important;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #999 !important;
}

.num-tip {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 22px;
	background-color: red;
	border-radius: 50%;
	color: #fff;
	font-size: 15px;
	font-weight: 900;
	-webkit-transform: scale(0.6);
	transform: scale(0.6);
	text-align: center;
	overflow: hidden;
}

/* 暂无数据 */
#none-data {
	display: none;
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: 0.26rem;
	color: #ddd;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

/* header样式   开始 */
.layui-header {
	height: 70px;
	line-height: 70px;
	background: url(../imgs/head.png);
	background-size: cover;
	padding: 0 20px;
}

/* header样式   结束 */
.layui-body {
	left: 0;
}

.layui-layout-admin .layui-logo {
	top: 10%;
	left: 30px;
}

.layui-nav .layui-nav-item {
	line-height: 30px;
}

.layui-nav .layui-nav-item a {
	padding: 0 15px;
	color: #FFFFFF;
}

.layui-header .layui-nav .layui-nav-item:first-child {
	padding-right: 20px;
}

.divider {
	border-left: 1px solid rgba(255, 255, 255, .4);
}

.layui-nav-item span {
	font-size: 16px;
}

.layui-layout-left {
	left: 0;
	right: 0;
}

.header-name .layui-nav-item {
	line-height: 20px;
}

.header-name p {
	font-size: 19px;
	line-height: 24px;
}

.web-name {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 30px;
}

.web-name-en {
	font-size: 13px;
	font-weight: normal;
	color: #FFFFFF;
	line-height: 19px;
}

.menu {
	background: rgba(0, 83, 173, 1) !important;
}

.menu ul {
	display: flex;
	height: 100%;
}

.menu .layui-nav .layui-nav-item {
	/* display: table-cell; */
	flex: 1;
	text-align: center;
}

.menu .layui-nav-item a {
	font-size: 24px;
	line-height: 70px;
}

.menu .layui-nav-item img {
	margin-right: 10px;
}

.head-fix {
	position: absolute;
	top: 0;
	width: 100%;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 576px) and (max-width: 1440px) {}

.footer {
	background: rgba(0, 64, 128, 1);
	width: 100%;
	height: 120px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-family: PingFang SC;
	font-weight: 600;
	color: rgba(255, 255, 255, 1);
	padding: 20px;
}

/*面包屑*/


.breadcrumbs {
	width: 100%;
	color: #666;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 1px;
}

.breadcrumbs .clickable {
	font-weight: 800;
	color: #0B2248;
	cursor: pointer;
}

.breadcrumbs .clickable:hover {
	color: #FF7300;
	text-decoration: underline;
}

.layui-layout {
	height: 100%;
}

.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
	background-color: transparent;
}

.menu .layui-nav .layui-this {
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 84, 174, 1) 0%, rgba(0, 128, 227, 1) 0%, rgba(0, 128, 227, 1) 100%);
}

.layui-layout-admin .layui-body {
	position: relative;
	top: auto;
	bottom: auto;
	padding-top: 20px;
	margin: 0 5%;
	padding: 20px 0 10px;
}

.current-page {
	font-size: 20px;
	font-family: PingFang SC;
	font-weight: bold;
	color: rgba(19, 19, 19, 1);
	line-height: 24px;
	margin-bottom: 20px;
}

.current-page img {
	margin-right: 10px;
	margin-top: -5px;
}

.content {
	background: rgba(255, 255, 255, 1);
}

.layui-nav .layui-nav-more {
	font-family: layui-icon !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	width: auto;
	height: auto;
	line-height: normal;
	border: 0;
	display: inline-block;
	right: 15px;
}

.layui-nav .layui-nav-more:before {
	content: "\e61a";
}
.layui-nav-itemed .layui-nav-more:before{
	 content: "\e619";
}
