.rightContentPlan{
	padding: 18px 25px 26px 30px;
}
.planBox{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.supplierBox{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
	margin-left: 17px;
	min-height: 700px;
	background: #FFFFFF;
}
.light{
	width: 26px;
	height: 26px;
	padding: 6px 5px;
	background: #61B98D;
	border-radius: 26px;
	margin: 15px 20px;
}
.org{
	width: 26px;
	height: 26px;
	padding: 6px 5px;
	background: #6E70C2;
	border-radius: 26px;
	margin: 15px 20px;
}
.rollPlan{
	font-size: 14px;
	font-weight: 500;
	color: #1B2737;
}
.titleRollPlan{
	background: #F9FAFD;
	border: 1px solid #DADEE4;
}
.rightContentPlan .layui-nav.fr .layui-nav-item a{
	font-size: 12px;
	font-weight: 400;
	color: #545766;
	padding-right:17px ;
}
.rightContentPlan .layui-nav{
	padding: 0 0 0 20px;
}
.rightContentPlan .layui-nav-item a img{
	width: 16px;
	height: 16px;
	margin-right: 8px;
}
.rightContentPlan .layui-nav-item.bar{
	height: 26px;
	border-right: 1px solid #E2E3E4;
}
.rollPlanWhite{
	background: #FFFFFF;
}
.rollBtn{
	width: 100px;
	height: 40px;
	border-radius: 4px;
	background: #FFFFFF;
	border: 1px solid #236EF6;
	font-size: 14px;
	font-weight: 500;
	color: #236EF6;
	text-align: center;
	line-height: 40px;
	margin: 19px 18px 18px 17px;
}
.rollPlanWhite .layui-input{
	width: 100%;
	margin: 0;
	border: none;
	border-left: 1px solid #DADEE4;
}
.rollPlanWhite  .layui-form-item{
	margin: 19px 0px 0px 0px;
	margin-bottom: 0;
	border: 1px solid #DADEE4;
}
.layui-input-block{
	margin-left: 80px;
}
.eye{
	margin-right: 10px;
}
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr, .layui-table[lay-even] tr:nth-child(even) {
	background: #F5FBFF;
}
.pd20{
	padding: 0 20px;
}
.blueTh{
	font-size: 12px;
	font-weight: 400;
	color: #1558FF;
	text-align: center;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
	    background-color: #1890FF
}
.ml10{
	margin-left: 10px;
}
.done{
	color: #60C6D3;
}
.todo{
	color: #F7A64C;
}
.rightContentPlan  .layui-input{
	margin: 0 auto;
}
.supplier{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
	padding: 17px 0 0px; 
	background: #FFFFFF;
	min-height: 700px;
}
.supplier .layui-menu li,.supplier .layui-menu-body-title a{
	padding: 0;
}
.layui-menu .layui-menu-item-group>.layui-menu-body-title{
	padding: 10px 18px;
}
.supplier .layui-menu .layui-menu-item-down>.layui-menu-body-title{
	background: #2789F4;
	color: #FFFFFF;
}
.supplier .layui-menu .layui-menu-item-down>.layui-menu-body-title>.layui-icon{
	color: #FFFFFF;
}
.layui-menu-body-title>.layui-icon{
	top: 10px;
	right: 15px;
}
.layui-menu-item-group .layui-menu-body-title, .layui-menu-item-parent .layui-menu-body-title{
	padding: 20px 40px;
}
.layui-menu .layui-menu-item-checked:after{
	display: none;
}
.layui-menu .layui-menu-item-checked, .layui-menu .layui-menu-item-checked2{
	background: #FFFFFF!important;
	color: #1558FF;
}
.tp20{
	margin-top: 20px;
}