<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>科研工作台</title>
		<link rel="stylesheet" href="layui/css/layui.css">
		<link rel="stylesheet" href="./css/index.css">
	</head>
	<body>

		<div>
			<div class="layui-row header">
				<div class="layui-col-xs6">
					<img class="logo" src="./images/nian.png">
					<span class="title">
						航天三江xxx系统
					</span>
				</div>
				<div class="layui-col-xs6 top">
					<ul class="layui-nav fr" lay-filter="">
						<li class="layui-nav-item"><a href="javascript:;"><img class="notice" src="images/tongzhi@2x.png"></a></li>
						<li class="layui-nav-item"><a href="javascript:;"><img class="headerIcon" src="images/wenhao-yuankuang@2x.png"></a></li>
						<li class="layui-nav-item"><a href="javascript:;"><img class="editIcon" src="images/qiabianji-2@2x.png"></a></li>
						<li class="layui-nav-item">
							<div class="headerBar"></div>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;">
								<img class="pic" src="images/nian.png">
								乔巴
							</a>
							<dl class="layui-nav-child">
								<!-- 二级菜单 -->
								<dd><a href="">修改密码</a></dd>
								<dd><a href="">注销</a></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<div class="layui-row leftNav">
				<div class="leftNavPre">
					<!-- <div class="layui-col-xs10 borR"> -->
					<div class="layui-row searchBox">
						<input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input">
						<img class="searchIcon" src="images/sousuo@2x.png">
					</div>

					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li class="layui-nav-item">
							<a href="javascript:;"><img class="toGrey" src="images/xinghao@2x2.png"><img class="whiteIcon" src="images/xinghao@2x.png">xxx型号</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000013项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000014项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000015项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000016项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000017项目</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><img class="toGrey" src="images/xinghao@2x2.png"><img class="whiteIcon" src="images/xinghao@2x.png">xxx型号</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000013项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000014项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000015项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000016项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000017项目</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><img class="toGrey" src="images/xinghao@2x2.png"><img class="whiteIcon" src="images/xinghao@2x.png">xxx型号</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000013项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000014项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000015项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000016项目</a></dd>
								<dd><a href="javascript:;"><img class="imgIconSmall" src="images/xiangmu-2@2x.png">A000017项目</a></dd>
							</dl>
						</li>

					</ul>
					<!-- </div> -->
				</div>
				<div class="rightContent">
					<div class="layui-row">
						<div class="wd5">
							<div class="todo">
								<div class="todoTitle">
									待办
								</div>
								<div class="num">
									<span class="numIn">
										1783
									</span>
									个
								</div>
								<img class="todoImg" src="images/daiban@2x.png">
							</div>
						</div>
						<div class="wd5">
							<div class="todo">
								<div class="todoTitle">
									已办
								</div>
								<div class="num">
									<span class="numIn">
										1783
									</span>
									个
								</div>
								<img class="todoImg" src="images/yiban@2x.png">
							</div>
						</div>
						<div class="wd5">
							<div class="todo">
								<div class="todoTitle">
									年度责任令
								</div>
								<div class="num">
									<span class="numIn">
										1783
									</span>
									个
								</div>
								<img class="todoImg" src="images/nian.png">
							</div>
						</div>
						<div class="wd5">
							<div class="todo">
								<div class="todoTitle">
									年度反馈
								</div>
								<div class="num">
									<span class="numIn">
										1783
									</span>
									个
								</div>
								<img class="todoImg" src="images/fankui@2x.png">
							</div>
						</div>
						<div class="wd5">
							<div class="todo">
								<div class="todoTitle">
									月度反馈
								</div>
								<div class="num">
									<span class="numIn">
										1783
									</span>
									个
								</div>
								<img class="todoImg" src="images/yiban@2x.png">
							</div>
						</div>
					</div>
					<div class="layui-row">
						<div class="layui-col-xs6 pr25">
							<div class="todobox">
								<div class="todoHeader">
									<div class="fl todoHeaderTitle">
										待办
									</div>
									<img class="fr more" src="images/gengduo@2x.png">
								</div>
								<div class="listBox" id="todoList">
									
								</div>
							</div>
						</div>
						<div class="layui-col-xs6 pr25">
							<div class="todobox">
								<div class="todoHeader">
									<div class="fl todoHeaderTitle">
										月度计划进展
									</div>
									<img class="fr more" src="images/gengduo@2x.png">
								</div>
								<div class="listBox" id="planList">
								</div>
							</div>
						</div>
					</div>
					<div class="layui-row">
						<div class="layui-col-xs4 pr25">
							<div class="todobox">
								<div class="todoHeader">
									<div class="fl todoHeaderTitle">
										各型项目占比
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs5" id="pieDiv">

									</div>
									<div class="layui-col-xs7">
										<div class="titleEcharts">
											<img src="images/stle@2x.png">
											项目统计
											<img src="images/stle@2x.png">
										</div>
										<div class="echarts1Info" id="echartsList1">

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="layui-col-xs8 pr25">
							<div class="todobox">
								<div class="preHeader">
									<div class="fl todoHeaderTitle">
										项目阶段统计
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-col-xs8" id="barDiv">

									</div>
									<div class="layui-col-xs4">
										<div class="titleEcharts2">
											<img src="images/stle@2x.png">
											项目阶段统计
											<img src="images/stle@2x.png">
										</div>
										<div class="echarts2Info" id="echartsList2">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="./js/template-web.js"></script>
		<script src="./js/jquery1.8.1.min.js"></script>
		<script src="./js/echarts.min.js"></script>
		<script src="./js/initPie.js"></script>
		<script src="./js/barInit.js"></script>
		<script src="layui/layui.js"></script>
		<script id="todoList-template" type="text/html">
			{{each data}}
				<div class="list" data-index="{{$index}}">
				{{if $value.checked}}
					<img class="fl checkBox"  data-index="{{$index}}" src="images/noSelect@2x.png">
				{{/if}}
				{{if !$value.checked}}
					<img class="fl checkedBox" src="images/xuanzhong@2x.png">
				{{/if}}
					<img class="fl checkedBox2"  data-index="{{$index}}" src="images/xuanzhong@2x.png">
					<div class="fl todoInfo {{$value.checked?'':'deleteLine'}}">
						{{$value.title}}
						{{$value.textCon}}
						，请须知
					</div>
					<div class="fr time {{$value.checked?'':'deleteLine'}}">
						2021-09-20 10:21:14
					</div>
				</div>
			{{/each}}
		</script>
		<script id="planList-template" type="text/html">
			{{each data}}
				<div class="list" data-index="{{$index}}">
				{{if $value.checked}}
					<img class="fl checkBox" src="images/noSelect@2x.png">
				{{/if}}
				{{if !$value.checked}}
					<img class="fl checkedBox" src="images/xuanzhong@2x.png">
				{{/if}}
					<img class="fl checkedBox2" src="images/xuanzhong@2x.png">
					<div class="fl todoInfo {{$value.checked?'':'deleteLine'}}">
						新建项目，
						<span class="red">【最好的十年】</span>
						
						要求现场监控，请须知
					</div>
					<div class="fr time {{$value.checked?'':'deleteLine'}}">
						2021-09-20 10:21:14
					</div>
				</div>
			{{/each}}
		</script>
		<script id="echartsList1-template" type="text/html">
			{{each data}}
				<div class="layui-row precentInfo">
					<div class="layui-col-xs2">
						<div class="radius" style="background: {{$value.color}};">
						</div>
					</div>
					<div class="layui-col-xs5">
						{{$value.name}}
					</div>
					<div class="layui-col-xs2">
						{{$value.pre}}
					</div>
					<div class="layui-col-xs3 tr">
						{{$value.value}}
					</div>
				</div>
			{{/each}}
		</script>
		<script id="echartsList2-template" type="text/html">
			{{each data}}
				<div class="layui-row precentInfo2">
					<div class="layui-col-xs1">
						<div class="radiusSmall" >
						</div>
					</div>
					<div class="layui-col-xs8">
						{{$value.name}}
					</div>
					<div class="layui-col-xs3 tr">
						{{$value.value}}
					</div>
				</div>
			{{/each}}
		</script>
		<script>
			var todoData=[{
				checked:true,
				title:'新建项目',
				time:'2021-09-20 10:21:14',
				redFont:'【最好的十年】',
				textCon:'要求现场监控，请须知'
			},{
				checked:false,
				title:'新建项目',
				time:'2021-09-20 10:21:14',
				redFont:'【最好的十年】',
				textCon:'要求现场监控，请须知'
			},{
				checked:true,
				title:'新建项目',
				time:'2021-09-20 10:21:14',
				redFont:'【最好的十年】',
				textCon:'要求现场监控，请须知'
			},{
				checked:true,
				title:'新建项目',
				time:'2021-09-20 10:21:14',
				redFont:'【最好的十年】',
				textCon:'要求现场监控，请须知'
			},{
				checked:true,
				title:'新建项目',
				time:'2021-09-20 10:21:14',
				redFont:'【最好的十年】',
				textCon:'要求现场监控，请须知'
			}]
			let htm = template('todoList-template', {
				data: todoData
			})
			$('#todoList').append(htm);
			let planHtml = template('planList-template', {
				data: todoData
			})
			$('#planList').append(planHtml);
			
			var dataBar = [{
				value: 15,
				name: '论证阶段'
			}, {
				value: 35,
				name: '方案阶段'
			}, {
				value: 24,
				name: '初样研制'
			}, {
				value: 18,
				name: '试样阶段'
			}, {
				value: 35,
				name: '状态鉴定'
			}, {
				value: 24,
				name: '列装定型'
			}, {
				value: 18,
				name: '生产部署'
			}]
			let html2 = template('echartsList2-template', {
				data: dataBar
			})
			$('#echartsList2').append(html2);
			var dataBefore = [{
				value: 15,
				pre: 48,
				name: '预研项目',
				color: '#2C4EA5'
			}, {
				value: 15,
				pre: 15,
				name: '批产项目',
				color: '#F8B543'
			}, {
				value: 15,
				pre: 10,
				name: '研制项目',
				color: '#67C1C8'
			}, {
				value: 15,
				pre: 22,
				name: '装备保障',
				color: '#806BF1'
			}, {
				value: 15,
				pre: 48,
				name: '其他项目',
				color: '#3FBAFC'
			}]
			let html = template('echartsList1-template', {
				data: dataBefore
			})
			$('#echartsList1').append(html);
			var data = []
			for (var i = 0; i < dataBefore.length; i++) {
				data.push({
					value: dataBefore[i].pre,
					name: dataBefore[i].name,
					itemStyle: {
						color: dataBefore[i].color
					}
				})

			}
			$(".checkedBox2").live('click', function(event) {	
				console.log(event)
				todoData[event.target.dataset.index].checked=!todoData[event.target.dataset.index].checked;
			
				let htm = template('todoList-template', {
					data: todoData
				})
				$('#todoList').html(htm);
				
			});
			layui.use(function() {
				var layer = layui.layer,
					form = layui.form,
					laypage = layui.laypage,
					element = layui.element,
					laydate = layui.laydate,
					util = layui.util;
				radarInit()
				barInit()
			});
		</script>
	</body>
</html>
