.theme-info {
	position: relative;
	padding: 15px 40px;
	background: url(../images/darken-bg.png) no-repeat center/cover;
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.theme-info .content {
	position: relative;
	/* display: flex; */
	/* flex-flow: row nowrap; */
	/* justify-content: space-between; */
	width: 100%;
	height: 100%;
	margin: 20px 0 0 0;
}

.theme-info .content #c-map {
	width: calc(30% + 300px);
	height: calc(100% - 255px);
	margin: 0 auto;
	z-index: 9999;
}

.theme-info .content .c-left {
	/* width: calc(25% - 20px); */
	position: absolute;
	left: 0;
	top: 0;
	width: 32%;
	border-radius: 10px;
	z-index: 2;
}

.chart-item {
	box-shadow: 0px 0px 30px #1132AA inset;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.theme-info .content .c-right {
	/* width: calc(25% - 20px); */
	position: absolute;
	right: 0;
	top: 0;
	width: 32%;
	/* background-color: rgba(137,87,161,0.08); */
	border-radius: 10px;
	z-index: 2;
}

.theme-info .content .c-center {
	position: absolute;
	width: calc(34% - 40px);
	height: 140px;
	left: 50%;
	top: 0px;
	transform: translateX(-50%);
	/* background-color: rgba(137,87,161,0.08); */
	border-radius: 10px;
	z-index: 0;
}

.theme-info .content .c-center .chart-item-middle {
	float: left;
	width: calc(50% - 20px);
	width: 50%;
	height: 100%;
	border-radius: 10px;
	background: url(../images/pttop.png) no-repeat;
	background-size: 68%;
	background-position-x: 40%;
}

.theme-info .content .c-center .chart-item-middle .topImg {
	width: 50px;
	margin: 46px 0 0 108px;
	opacity: 0.9;
	float: left;
}

.theme-info .content .c-center .chart-item-middle .num {
	margin: 50px 0 0 60px;
	font-size: 24px;
	color: #00FFF6;
}

.theme-info .content .c-center .chart-item-middle .text {
	margin: 15px 0 0 60px;
	font-size: 14px;
	color: #FFFFFF;
}

.fl {
	float: left;
}

.theme-info .content .c-left .chart-item {
	width: 100%;
	margin: 30px 0 0 0;
	padding-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.theme-info .content .c-right .chart-item {
	width: 100%;
	margin: 20px 0 0 0;
	padding-bottom: 10px;
	overflow: hidden;
}

.theme-info .content .c-left .chart-item-middle {
	width: calc(50% - 10px);
	/* margin: 30px 0 0 0; */
	float: left;
	box-shadow: 0px 0px 30px #1132AA inset;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.theme-info .content .c-left .chart-item-middle .rw {
	height: 250px;
	background: url(../images/rw.png) no-repeat;
	background-size: 35%;
	background-position-y: 10px;
	position: relative;
	background-position-x: 62px;
}

.theme-info .content .c-left .chart-item-middle .dash {

	height: 0px;
	border-top: 1px dashed #007FFE;
	position: absolute;

}

.theme-info .content .c-left .chart-item-middle .dashed0 {
	width: 40px;
	top: 28px;
	left: 210px;
}

.theme-info .content .c-left .chart-item-middle .dashed1 {
	width: 47px;
	top: 76px;
	left: 200px;
}

.theme-info .content .c-left .chart-item-middle .dashed2 {
	width: 58px;
	top: 124px;
	left: 190px;
}

.theme-info .content .c-left .chart-item-middle .dashed3 {
	width: 70px;
	top: 174px;
	left: 180px;
}

.theme-info .content .c-left .chart-item-middle .dashed4 {
	width: 80px;
	top: 223px;
	left: 171px;
}

.theme-info .content .c-left .chart-item-middle .text {
	position: absolute;
	color: #ffffff;
	font-size: 14px;
}

.theme-info .content .c-left .chart-item-middle .text0 {
	top: 24px;
	left: 240px;
}

.theme-info .content .c-left .chart-item-middle .text1 {
	top: 68px;
	left: 240px;
}

.theme-info .content .c-left .chart-item-middle .text2 {
	top: 115px;
	left: 240px;
}

.theme-info .content .c-left .chart-item-middle .text3 {
	top: 164px;
	left: 240px;
}

.theme-info .content .c-left .chart-item-middle .text4 {
	top: 215px;
	left: 240px;
}

.theme-info .content .c-left .pj-dn {
	width: 25%;
	height: 220px;
	float: left;
}

.theme-info .content .c-left .pj-dntext {
	width: 25%;
	font-size: 14px;
	color: #60cedb;
	float: left;
	text-align: center;
	margin-bottom: 20px
}

/* .theme-info .content .c-left .pj-dn-info {
    float: left;
    width: calc(50% - 15px);
    margin: 0 15px 0 0;
    height: 300px;
} */

.theme-info .content .c-left #pj-type-dn,
.theme-info .content .c-left #pj-type-dnm {
	width: 100%;
	height: 250px;
	/* padding-left: 50px; */
}

.theme-info .content .c-left #pj-stop-dn {
	width: 100%;
	height: 240px;
}

.theme-info .content .c-right #yhfw-charts {
	width: 100%;
	height: 240px;
}

.theme-info .content .c-right .chart-item-middle {
	width: calc(50% - 10px);
	margin: 30px 0;
	float: left;
	position: relative;
	box-shadow: 0px 0px 30px #1132AA inset;
	border-radius: 20px;
	padding-bottom: 30px;
}

.theme-info .content .c-right #aqbq-charts,
.theme-info .content .c-right #mgch-charts {
	width: 100%;
	height: 262px;
}

.theme-info .content .c-right #qysj-charts {
	height: 250px;
	width: 100%;
}

.theme-info .content .c-right .table-header {
	font-size: 16px;
	color: #fff;
}

.theme-info .content .c-right .area-table {
	width: calc(100% - 30px);
	margin: 0 auto;
	/* padding-bottom: 4px; */
	text-align: center;
	border-color: #fff;
	border: 1px solid #ffffff30;
}

.theme-info .content .c-right .area-table thead tr td {
	font-size: 16px;
	color: #fff;
	background-color: #1132AA;
	line-height: 30px;
	padding: 0 10px;
	text-align: left;
}

.theme-info .content .c-right .area-table tbody tr {
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	line-height: 30px;
}

.theme-info .content .c-right .area-table:nth-of-type(2) {
	margin-top: 30px;
}

.theme-info .content .c-right .area-table:nth-of-type(2) tbody tr {
	line-height: 40px;
}

.theme-info .content .c-right .area-table:nth-of-type(2) tbody tr td {
	cursor: pointer;
	transition: all .3s;
}

.theme-info .content .c-right .area-table:nth-of-type(2) tbody tr td:hover {
	background-color: #1132AA50;
}

.theme-info .content .c-right .area-table:nth-of-type(2) tbody tr td.active {
	background-color: #1132AA;
}

.theme-info .content .c-right .area-table:nth-of-type(2) thead tr td:nth-of-type(1) {
	text-align: right;
	border-right: none;
	font-size: 16px;
	text-align: left;
}

.theme-info .content .c-right .area-table:nth-of-type(2) thead tr td:nth-of-type(2) {
	text-align: right;
	border-left: none;
	font-size: 16px;
}

.theme-info .content .c-right .area-table:nth-of-type(2) .load-more {
	cursor: pointer;
}

.theme-info .content .c-right .area-table:nth-of-type(2) .load-more:hover {
	color: #08D1EA;
}

.theme-info .content .c-right .table-list {
	width: calc(100% - 30px);
	margin: 20px auto 9px auto;
}

.theme-info .content .c-right .table-list .list-item {
	width: 100%;
	margin: 5px 0 0 0;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
	border-bottom: 1px dashed #fff;
}

.theme-info .content .c-right .table-list .list-item:nth-last-of-type(1) {
	border-bottom: none;
}

.theme-info .content .c-right .table-list .list-item span:nth-of-type(1) {
	font-size: 16px;
}

.theme-info .content .c-right .table-list .list-item span:nth-of-type(1).default {
	color: #08D1EA;
}

.theme-info .content .c-right .table-list .list-item span:nth-of-type(1).warning {
	color: #FFFD54;
}

.theme-info .content .c-right .table-list .list-item span:nth-of-type(1).danger {
	color: #FF6D82;
}

/* .theme-info .content .c-center #china-map {
   width: 100%;
   height: 100%;
} */
.theme-info .content .c-date {
	position: absolute;
	display: inline-block;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

.theme-info .content .c-date .date-wrapper {
	display: inline-block;
	margin: 0 5px;
	padding: 12px;
	font-size: 40px;
	color: #00AEFF;
	font-weight: 600;
	background: url(./../images/datePicker.png) no-repeat center/contain;
}

.theme-info .content .c-date .date-line {
	display: inline-block;
	font-size: 40px;
	color: #00AEFF;
	font-weight: 600;
}

.theme-info .content .c-total {
	position: absolute;
	display: inline-block;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	text-shadow: 0 0 10px #B562FF80,
		0 0 20px #B562FF80,
		0 0 30px #B562FF80;
	z-index: 6;
}

.theme-info .content .c-total span {
	font-size: 73px;
	font-weight: 600;
	letter-spacing: 8px;
}

.theme-info .content .c-num {
	position: absolute;
	display: inline-block;
	width: 700px;
	height: 50px;
	padding: 0 15px;
	top: 160px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
	color: #00F6FF;
	font-weight: bold;
	line-height: 50px;
	background-color: #0000FF30;
	z-index: 9999;
}

.theme-info .content .c-num p:nth-of-type(1) {
	float: left;
	line-height: 50px;
}

.theme-info .content .c-num p:nth-of-type(2) {
	float: right;
}

.theme-info .content .c-num p span {
	display: inline-block;
	vertical-align: bottom;
}

.theme-info .content .c-num p span:nth-of-type(2) {
	font-size: 38px;
	font-weight: bold;
}

.theme-info .content .c-bottom {
	position: absolute;
	width: calc(36% - 50px);
	height: 250px;
	left: 50%;
	bottom: 185px;
	transform: translateX(-50%);
	/* background-color: rgba(137,87,161,0.08); */
	border-radius: 10px;
	z-index: 0;
}

.theme-info .content .c-bottom .mid-bottom {
	width: calc(50% - 10px);
	height: 310px;
	float: left;
	text-align: center;
	color: #00E3FF;
	font-size: 20px;
	padding: 20px 0;
	box-shadow: 0px 0px 30px #1132AA inset;
	border-radius: 20px;
	position: relative;
}

.theme-info .content .c-bottom .mid-bottom #cll-charts,
.theme-info .content .c-bottom .mid-bottom #ycsj-charts {
	height: 250px;
}

.theme-info .content .c-bottom #bar-chart {
	width: 100%;
	height: 100%;
}




.divider {
	position: relative;
	width: calc(100% - 30px);
	height: 1px;
	margin: 0 auto;
	background-color: #08D1EA;
	border-radius: 1px;
}

.divider::before,
.divider::after {
	content: '';
	position: absolute;
	top: -2px;
	width: 6%;
	height: 3px;
	background-color: #08D1EA;
	border-radius: 1.5px;
}

.divider::before {
	left: 0;
}

.divider::after {
	right: 0;
}



@keyframes imgRotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.imgWrap .yuanpan {
    width: 500px;
    height: 500px;
    display: block;
    margin: 100px auto;
    animation: imgRotate 5s infinite linear;
}

.imgWrap {
	position: absolute;
	bottom: -290px;
	left: 230px;
	transform: rotateX(75deg);
	z-index: 1;
}

.guangxian {
	position: absolute;
	bottom: 0px;
	left: 350px;
	width: 250px;
}

.xiaoyuan {
	position: absolute;
	bottom: 47px;
	left: 355px;
	width: 250px;
	animation: heart 1.3s ease-in-out 2.7s infinite alternate;
}

.part-item {
	position: absolute;
	width: 135px;
	text-align: center;
}

.part-item-num {
	margin-bottom: 10px;
	font-size: 16px;
	color: #BCF8FF;
}

.part-item-name {
	margin-top: 15px;
	font-size: 24px;
	font-weight: bold;
	color: #69EFFF;
}

.part-item-icon {
	position: absolute;
	top: 30px;
	left: 40px;
	width: 70px;
}

.part-item-png {
	width: 140px;
}

.part-item01 {
	bottom: 60px;
	left: 0px;
}

.part-item02 {
	bottom: 140px;
	left: 220px;
}

.part-item03 {
	bottom: 140px;
	right: 220px;
}

.part-item04 {
	bottom: 60px;
	right: 0px;
}

.part-item-xian {
	position: absolute;
}

.part-item-xian01 {
	width: 120px;
	left: 120px;
	top: 194px;
}

.part-item-xian02 {
	width: 260px;
	left: 343px;
	top: 149px;
}

.part-item-xian03 {
	width: 120px;
	    left: 705px;
	    top: 195px;
}

@keyframes heart {
	from {
		transform: translate(0, 0)
	}

	to {
		transform: translate(0, 10px)
	}
}

.dian01 {
	left: 120px;
	top: 245px;
	display: none;
}

.dian02 {
	left: 335px;
	top: 165px;
	display: none;
}

.dian03 {
	left: 705px;
	top: 190px;
	display: none;
}
/*涉及到位置的必须给元素进行相对或绝对定位*/
 @keyframes move01 {
	0% {
		left: 120px;
		top: 245px;
	}

	100% {
		left: 230px;
		top: 190px;
	}
}

@keyframes move02 {
	0% {
		left: 335px;
		top: 165px;
	}
	25%{
		top: 150px;
		left: 400px;
	}
	50%{
		top: 145px;
		left: 465px;
	}
	75%{
		top: 150px;
		left: 530px;
	}
	100% {
		left: 595px;
		top: 160px;
	}
}
 @keyframes move03 {
	0% {
		left: 705px;
		top: 190px;
	}

	100% {
		left: 810px;
		top: 255px;
	}
}

@keyframes circle {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes rotate {
	from {
		-webkit-transform: rotateY(360deg);
	}

	to {
		-webkit-transform: rotateY(0deg);
	}
} 

.animation-circle {
	animation: circle 1s infinite linear;
}

.animation-rotate {
	animation: rotate 1s infinite linear alternate;
}

.animation-heart {
	animation: heart 1.3s ease-in-out 2.7s infinite alternate;
}

.animation-move01 {
	animation: 3s move01 linear;
}

.animation-move02 {
	animation: 6s move02 linear;
}

.animation-move03 {
	animation: 3s move03 linear;
}

.dian {
	position: absolute;
	width: 11px;
	height: 10px;
	border-radius: 11px;
	background-color: #00E4FF;
	box-shadow: 0 0 10px #00E4FF;
	/* background: url(../images//dian.png) no-repeat center; */
}

