html,body{
	background: #F1F3F9;
}
.header{
	overflow: hidden;
	height: 70px;
	background: #3B69B6;
}
.title{
	font-size: 22px;
	color: #fff;
	letter-spacing: 1.02px;
	line-height: 70px;
}
.logo{
	width: 70px;
	height: 50px;
	margin: 10px 15px ;
	float: left;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.people{
	font-size: 16px;
	color: #fff;
	padding-right: 46px;
	letter-spacing: 0.74px;
	line-height: 70px;
}

.leftBox{
	padding: 23px 20px 23px 30px;
	min-height: 900px;
}
.middleBox{
	padding: 23px 20px 23px 0;
}
.rightBox{
	padding: 23px 0;
}
.app{
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 5px #E8EDFB;
}
.todo{
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 5px #E8EDFB;
	padding-bottom: 16px;
}
.todoBottom{
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 5px #E8EDFB;
	padding: 20px;
	padding-left: 0;
	overflow: hidden;
	margin-top: 20px;
}
.titleKuaijie{
	width: 100%;
	overflow: hidden;
	padding-top: 11px;
	padding-left: 15px;
	border: 1px solid #E5E5E5;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.todoBottomLeft{
	padding-right: 20px;
}
.todoitem{
	width: 20%;
	padding-top: 28px;
	padding-bottom: 28px;
	float: left;
	cursor: pointer;
	transition: all .5s;
}
.todoitem:hover{
	transform: scale(1.1);
}
.kuaijieBottom{
	overflow: hidden;
	border: 1px solid #E5E5E5;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.todoItemText{
	font-size: 14px;
	color: #121212;
	padding-top: 22px;
	text-align: center;
}
.todoItemIcon{
	width: 42px;
	height: 42px;
	display: block;
	margin: 0 auto;
}
.notice{
	width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 5px #E8EDFB;
	padding-bottom: 19px;
}
.titleSmallBox{
	overflow: hidden;
	padding: 16px 24px;
}
.titleSmall{
	color: #121212;
	font-size: 16px;
	margin-left: 10px;
	position: relative;
	top: -4px;
}
.titleIconApp{
	width: 14px;
	height: 12px;
}
.titleIconTodo{
	width: 16px;
	height: 14px;
}
.titleIconNotice{
	width: 12px;
	height: 14px;
}
.con{
	padding-right: 30px;
}
.applyBigBox{
	padding: 0 12px 12px;
	overflow: hidden;
}
.applyItem{
	background: #F7FAFF;
	border-radius: 6px;
	margin:12px 12px;
	padding-top: 14px;
	padding-bottom: 14px;
	cursor: pointer;
}
.applyItem:hover{
	background: #fff;
	border: 1px solid #F3F3F3;
	margin:12px 12px;
	padding-top: 13px;
	padding-bottom:13px;
	box-shadow: 0 0 5px rgba(232, 232, 232, 0.33);
}
.imgApplyItem{
	width: 42px;
	height: 42px;
	display: block;
	margin: 0px auto;
}
.pd0{
	padding: 0 !important;
}
.applyItemName{
	margin: 13px auto 0;
	text-align: center;
}
.todoBarOut{
	padding: 0 20px 20px ;
}
.todoBar{
	width: 100%;
	height: 50px;
	line-height: 50px;
	background:linear-gradient(to right,#F9F9F9, #ECF0F5);
}
.tab{
	padding: 0 ;
}
a{
	color: #333333;
}
.nav>li>a{
	padding: 0;
	line-height: 50px;
}
.dropdown-toggle{
	color: #999999;
}
.down{
	width: 14px;
	position: absolute;
	top: 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #2277F6;
	background-color: rgba(0,0,0,0);
}
.nav-tabs{
	border: none;
}
.nav-tabs>li>a{
	margin-right: 0;
	border: none;
	border-radius:  0;
}
.nav-tabs .dropdown-menu{
	border-radius: 6px;
}
.nav-tabs .dropdown-menu li a{
	line-height: 30px;
}
.rhomb{
	color: #D2D9E6;
	font-size: 14px;
	line-height: 36px;
	margin-right: 5px;
}
.todoTitle{
	color: #121212;
	font-size: 14px;
	line-height: 36px;
	margin-right: 5px;
}
.todoFrom{
	color: #999999;
	font-size: 12px;
	line-height: 36px;
}
.todoTime{
	color: #333333;
	font-size: 14px;
	float: right;
	line-height: 36px;
}
.todoList{
	border-bottom: 1px dashed #CCCCCC;
	cursor: pointer;
}
.todoList:hover .rhomb,.todoList:hover .todoTitle{
	color:#167EFF;
}
.todoListBox{
	padding: 0 20px;
}
.chrome{
	width: 40px;
	height: 40px;
	float: left;
}
.chromeName{
	font-size: 14px;
	color: #121212;
	padding-left: 20px;
	line-height: 40px;
	float: left;
}
.chromeBoxL{
	width: 47%;
	padding: 19px 19px;
	overflow: hidden;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	float: left;
	margin-right: 3%;
	cursor: pointer;
	transition: all .5s;
}
.chromeBoxL:hover{
	transform: scale(1.03);
}
.chromeBoxR{
	width: 47%;
	padding: 19px 19px;
	overflow: hidden;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
	float: left;
	margin-left: 3%;
	cursor: pointer;
	transition: all .5s;
}
.chromeBoxR:hover{
	transform: scale(1.03);
}
.mb{
	margin-bottom: 15px;
}
.bar{
	width: 1px;
	height: 100%;
	background: #DCDCDC;
	position: absolute;
	left: 20px;
}
.titleRight{
	font-size: 14px;
	color: #6281AC;
}
.textRight{
	margin-top: 5px;
	font-size: 16px;
	color: #333333;
	width:200px;
	word-break:break-all;
	display:-webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient:vertical;
	overflow:hidden;
}
.circle{
	margin-left: 15px;
	margin-right: 17px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #CFCFCF;
	float: left;
	position: relative;
	top: 5px;
}
.noticeValue{
	float: left;
	width: calc( 100% - 47px );
}
.noticeItem{
	overflow: hidden;
	padding: 7px 0 30px;
	cursor: pointer;
}
.barItem{
	position: relative;
}
.noticeItem:hover .circle{
	background: #167EFF;
	border: #167EFF;
}
.noticeItem:hover .textRight{
	color: #167EFF;
}
.circleRed{
	width: 13px;
	height: 13px;
	background: #F32E2E;
	border-radius: 13px;
	position: absolute;
	top: 10px;
	right: 20%;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}