html,
img,
span,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
}

body {
	font-family: "Microsoft YaHei";
	font-size: 14px;
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul,
ol {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

a {
	text-decoration: none;
	color: #232323;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
}

input,
textarea {
	outline: none;
	border: none;
}

textarea {
	resize: none;
	overflow: auto;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow: hidden;
}

.fl {
	float: left
}

.fr {
	float: right
}

.tl {
	text-align: left;
}

.tc {
	text-align: center
}

.tr {
	text-align: right;
}

.ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inline {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.header {
	background: #021524;
	height: 70px;
}

.logo {
	width: 30px;
	height: 30px;
	margin: 15px 20px;
	position: relative;
	top: -4px;
}

.title {
	line-height: 70px;
	font-size: 20px;
	color: #FFFFFF;
}

.top .layui-nav {
	background: #021524;
}

.top .layui-nav .layui-nav-item {
	height: 70px;
	line-height: 70px;
}

.pic {
	width: 30px;
	height: 30px;
	margin: 20px 22px 20px 6px;
}

.headerBar {
	width: 1px;
	height: 30px;
	background: #444549;
	margin-top: 20px;
}

.headerIcon {
	width: 28px;
	height: 28px;
}

.editIcon {
	width: 25px;
	height: 24px;
}

.notice {
	width: 24px;
	height: 28px;
}

.layui-nav .layui-this:after,
.layui-nav-bar {
	background: #021524;
}

.leftNav .layui-nav {
	background: #FFFFFF;
	color: #000000;
}

.leftNav .layui-nav-tree {
	width: 100%;
}

.leftNav .layui-input {
	width: 80%;
	margin: 35px auto 19px auto;
}

.leftNav .layui-nav-tree .layui-nav-child a {
	color: #444444;
}

.leftNav .layui-nav .layui-nav-item a {
	color: #000000;
}

.leftNav .layui-nav-itemed>a {
	color: #2F4DA5 !important;
	margin: 3px 0;
	box-shadow: 0 0 7px rgba(218, 218, 218, 0.41);
}

.leftNav .layui-nav-itemed i {
	color: #2F4DA5 !important;
}

.leftNav .layui-nav-tree .layui-nav-title a:hover {
	color: #FFFFFF !important;
}

.toGrey {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	margin-right: 13px;
}

.leftNav .layui-nav-itemed .toGrey {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
}

.leftNav .layui-nav-tree .layui-nav-item a {
	height: 50px;
	line-height: 50px;
}

.leftNav .layui-nav-child {
	padding: 0;
}

.leftNav .layui-nav-tree .layui-nav-bar {
	background: #FFFFFF;
}

.leftNav .layui-nav-itemed>.layui-nav-child {
	background-color: #FFFFFF !important;
}

.whiteIcon {
	display: none;
	margin-right: 13px;
}

.leftNav .layui-nav-item>a:hover,
.leftNav .layui-nav-item>a:hover i {
	background: #4778C7;
	color: #FFFFFF !important;
}

.leftNav .layui-nav-item>a:hover .toGrey {
	display: none;
}

.leftNav .layui-nav-item>a:hover .whiteIcon {
	display: inline-block;
}

.leftNav .layui-nav-itemed>a:hover .layui-nav-child {
	background: #FFFFFF !important;
}

.layui-nav-tree .layui-nav-child,
.layui-nav-tree .layui-nav-child a:hover {
	background: #FFFFFF;
	color: #278AF4;
}

.leftNavPre {
	width: 13.5%;
	float: left;
	border-right: 1px solid #DADEE4;
}

.rightContent {
	width: 84%;
	float: left;
	padding-left: 2%;
	border-left: 1px solid #DADEE4;
}

.rightContent2 {
	width: 86.5%;
	float: left;
	border-left: 1px solid #DADEE4;
}

.borR {
	height: 100%;
	border-right: 1px solid #E6E6E6;
}

.wd5 {
	width: 20%;
	padding-right: 25px;
	float: left;
}

.todo {
	width: 100%;
	background: #FAFAFA;
	border-radius: 2px;
	position: relative;
	margin-top: 20px;
}

.todo:hover {
	background: #FFFFFF;
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	border-right: 1px solid #E6E6E6;
	border-bottom: 4px solid #104BE8;
}

.todo:hover .num {
	padding: 20px 28px 22px;
}

.todoImg {
	position: absolute;
	top: 22px;
	right: 35px;
}

.todoTitle {
	font-size: 16px;
	font-weight: 400;
	color: #545766;
	line-height: 16px;
	padding: 20px 28px 0;
}

.num {
	font-size: 16px;
	font-weight: 400;
	color: #424961;
	line-height: 16px;
	padding: 22px 28px 26px;
}

.numIn {
	font-size: 24px;
	font-weight: bold;
	color: #131313;
}

.todobox {
	margin-top: 20px;
	border: 1px solid #E6E6E6;
	border-radius: 8px;
}

.pr25 {
	padding-right: 20px;
}

.todoHeader {
	overflow: hidden;
	margin: 0 18px 0 14px;
	border-bottom: 1px solid #E3E3E3;
	margin-bottom: 20px;
}

.preHeader {
	overflow: hidden;
	margin: 0 18px 0 14px;
	border-bottom: 1px solid #E3E3E3;
}

.todoHeaderTitle {
	font-size: 18px;
	font-weight: 500;
	color: #121212;
	line-height: 60px;
}

.more {
	width: 30px;
	height: 7px;
	margin: 25px 19px;
}

.checkBox {
	margin: 14px 9px 0 33px;
	width: 16px;
	height: 16px;
	position: relative;
	top: -2px;
}

.checkedBox {
	margin: 14px 9px 0 33px;
	width: 16px;
	height: 16px;
	display: none;
	position: relative;
	top: -2px;
}

.todoInfo {
	font-size: 14px;
	font-weight: 400;
	color: #1A1D41;
	margin: 10px 0 0 0;
}

.time {
	font-size: 14px;
	font-weight: 400;
	color: #8E92A0;
	margin: 10px 40px 0 0;
}

.list {
	overflow: hidden;
	cursor: pointer;
	padding-bottom: 14px;
}

.list:hover .checkBox {
	display: none;
}

.list:hover .checkedBox {
	display: block;
}

.list:hover div {
	text-decoration: line-through
}

.red {
	color: #D8414B;
}

.deleteLine {
	text-decoration: line-through
}

#pieDiv {
	height: 190px;
	margin: 80px 0;
	border-right: 2px dashed #C6C9CF;
}

#barDiv {
	height: 370px;
	border-right: 1px solid #E6E6E6;
}

.titleEcharts {
	width: 162px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #2F4DA5;
	border-radius: 4px;
	position: relative;
	color: #FFFFFF;
	font-size: 16px;
	margin: 0 auto;
}

.imgIconSmall {
	width: 14px;
	height: 14px;
	margin-right: 12px;
	position: relative;
	top: -2px;
}

.todoHeader:after {
	content: "";
	display: block;
	line-height: 2px;
	width: 36px;
	height: 2px;
	background: #304EA6;
	position: absolute;
	top: 80px;
}

.preHeader:after {
	content: "";
	display: block;
	line-height: 2px;
	width: 36px;
	height: 2px;
	background: #304EA6;
	position: absolute;
	top: 80px;
}

.titleEcharts2 {
	width: 162px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #2F4DA5;
	border-radius: 4px;
	position: relative;
	color: #FFFFFF;
	font-size: 16px;
	margin: 20px auto 0;
}

.radius {
	width: 12px;
	height: 12px;
	border-radius: 12px;
	background: #C6C9CF;
	position: relative;
	top: 2px;
}

.radiusSmall {
	width: 6px;
	height: 6px;
	border-radius: 6px;
	background: #2C4EA5;
	position: relative;
	top: 2px;
}

.echarts1Info {
	width: 163px;
	margin: 0 auto;
}

.echarts2Info {
	width: 80%;
	margin: 0 auto;
}

.precentInfo {
	margin-top: 36px;
}

.precentInfo2 {
	margin-top: 22px;
}

.bread {
	font-size: 14px;
	color: #131313;
	padding-left: 36px;
	background: #F3F6FD;
	border: 1px solid #DDDFDF;
	border-left: none;
	line-height: 44px;
}

.layui-breadcrumb a {
	color: #131313 !important;
}

.layui-breadcrumb a:hover {
	color: #3C78E9 !important;
}

.layui-tab-card {
	width: 96%;
	margin: 20px 2%;
}

.layui-this {
	color: #4778C7;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
	color: #4778C7;
	background: #FFFFFF;
}
.layui-tab-title {
	height: 60px;
}

.layui-tab-card>.layui-tab-title .layui-this:after {
	height: 60px;
}

.layui-tab-card>.layui-tab-title li {
	font-size: 18px;
	padding: 0 40px;
	line-height: 60px;
}

.layui-tab-card>.layui-tab-title {
	background: #F1F5FB
}

.layui-tab-brief>.layui-tab-title {
	background: #FFFFFF;
	height: 40px;
	line-height: 14px;
	border: none;
}

.layui-tab-brief>.layui-tab-title .layui-this {
	background: #4778C7;
	padding: 13px 28px 11px 19px;
	color: #FFFFFF;
	border-radius: 4px;
}

.layui-tab-brief>.layui-tab-title .layui-this:after {
	border: none;
}

.layui-tab-brief>.layui-tab-title li {
	font-size: 14px;
	line-height: 14px;
	margin-left: 35px;
	padding: 13px 28px 11px 19px;
}

.rightContent2 .layui-input {
	width: 100%;
	margin: 0;
}

.rightContent2 .layui-form-label {
	display: inline-block;
	width: 115px;
	text-align-last: justify;
	margin-left: 20px;
}

.rightContent2 .layui-input-block {
	margin-left: 210px;
}

.layui-btn {
	background: #2F4DA5;
}

.layui-btn-primary {
	background: #FFFFFF;
}

.config {
	padding: 0 40px;
}

.config .title {
	color: #2F4DA5;
	font-size: 18px;
	font-weight: 500;
	line-height: 49px;
}

.config .titleBl {
	font-size: 16px;
	font-weight: 500;
	color: #131313;
	margin-left: 20px;
	line-height: 49px;
}

.dashBox {
	background: #F7F9FF;
	border: 1px dashed #4778C7;
	border-radius: 4px;
	line-height: 49px;
	height: 49px;
	padding: 0 16px 0 36px;
}

.btn {
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 10px 0 0 18px;
}

.wd20 {
	width: 20%;
	float: left;
}

.firstStep {
	height: 57px;
	background: url(../images/firstStep.png) no-repeat;
	background-size: 100% 100%;
}

.midStep {
	height: 57px;
	background: url(../images/midStep.png) no-repeat;
	background-size: 100% 100%;
}

.lastStep {
	height: 57px;
	background: url(../images/lastStep.png) no-repeat;
	background-size: 100% 100%;
}

.radiusConfig {
	width: 21px;
	height: 21px;
	border: 1px solid #4778C7;
	border-radius: 21px;
	text-align: center;
	line-height: 21px;
	color: #4778C7;
	font-size: 12px;
	float: left;
}

.nameConfig {
	font-size: 14px;
	font-weight: 500;
	color: #4778C7;
	float: left;
	margin-left: 11px;
}

.mid {
	width: 120px;
	overflow: hidden;
	text-align: center;
	margin: 18px auto;
	cursor: pointer;
}

.mt20 {
	margin-top: 20px;
}

.radiusStep {
	width: 18px;
	height: 18px;
	border: 1px solid #E6E6E6;
	border-radius: 18px;
	text-align: center;
	float: left;
	margin: 15px 8px 13px 18px;
	line-height: 18px;
	background: #FFFFFF;
}

.stepTitle {
	margin: 20px 9px 0 9px;
	background: #F9F9F9;
	border: 1px dashed #DCDCDC
}

.taskName {
	font-size: 14px;
	font-weight: 500;
	color: #1A1A1A;
	float: left;
	margin-top: 15px;
}

.taskBox {
	background: #FFFFFF;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	position: relative;
	margin-top: 25px;
	padding: 0 10px 0px 15px;
}
.taskBox:before{
	content: ' ';
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-bottom-color: #E6E6E6;
	position: absolute;
	top: -29px;
	left: 10%;
}
.taskBox:after{
	content: ' ';
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-bottom-color: #FFFFFF;
	position: absolute;
	top: -28px;
	left: 10%;
}
.addBtn{
	font-size: 16px;
	color: #4778C7;
	width: 17px;
	height: 17px;
	border-radius: 17px;
	border:1px solid #4778C7;
	background: #FFFFFF;
	/* box-shadow: 0 0 10px #DADADA; */
	text-align: center;
	line-height: 14px;
	margin: 15px;
	float: right;
	cursor: pointer;
}
.selectBox{
	width:14px;
	height: 14px;
	border: 1px solid #DCDCDC;
	border-radius: 2px;
	margin: 10px 9px;
	font-size: 12px;
	line-height: 12px;
	color: #FFFFFF;
	text-align: center;
}
.addBox{
	margin: 14px 9px 0 9px;
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	position: relative;
}
.addBoxName{
	font-size: 12px;
	font-weight: 400;
	color: #111111;
	line-height: 34px;
	margin-left: 10px;
}
#task2 .selected{
	background: #4778C7;
	color: #FFFFFF;
}
#task2 .selectedGr{
	background: #41BBBC;
	
}
#task2 .selected .addBoxName,#task2 .selectedGr .addBoxName{
	color: #FFFFFF;
}
.selected .selectBox{
	border: 1px solid #4778C7;
	background: #4778C7;
}
.selectedGr .selectBox{
	border: 1px solid #41BBBC;
	background: #41BBBC;
}
.trSelectedIcon{
	width: 25px;
	height: 19px;
	position: absolute;
	top: 0;
	right: 0;
}
.addBox .editIcon{
	width: 11px;
	height: 11px;
	margin: 13px 0 0 0;
}
.addBox .deleteIcon{
	width: 11px;
	height: 11px;
	margin: 13px;
}
.addBox .layui-input{
	width: 40%;
	border: none;
}
.handOverBox .layui-input{
	width: 40%;
	border: none;
}
.disB{
	display: block;
}
.disNone{
	display: none;
}
.leftBor{
	border-left: 1px solid #E6E6E6;
	min-height: 300px;
}
.handOver{
	font-size: 16px;
	font-weight: 500;
	color: #121212;
	line-height: 48px;
	border-bottom: 1px solid #CACDE6;
	padding-left: 19px;
}
.wd90{
	width: 90%;
	text-align: center;
	margin: 28px 5% 0;
}
.boxModel{
	height: 100px;
	background: #F9F9F9;
	border: 1px dashed #DCDCDC;
	text-align: center;
	line-height: 100px;
	margin-top: 10px;
	
}
.checkBoxModel{
	width: 14px;
	height: 14px;
	border: 1px solid #DCDCDC;
	display: inline-block;
	line-height: 11px;
	margin-right: 11px;
	color:#FFFFFF;
}
.boxModel.checked .checkBoxModel{
	color: #FFFFFF;
	background: #2F4DA5;
}

.checkBoxValue{
	display: inline-block;
	margin: 25px 40px 0 30px;
}
.checkBoxValue input{
	margin-right: 11px;
}